/* Basscss Color Base */

body {
  color: $base-font-color;
  background-color: $base-bg-color;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $dark-mode-font-color;
    background-color: $dark-mode-bg-color;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
