blockquote {
  border-left: 3px solid $blockquote-border-color;
  margin-left: 0;
  padding: $space-1 $space-2;
  color: $blockquote-text-color;
}

blockquote footer {
  background-color: transparent;
  border-color: transparent;
  color: $mid-gray;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 3px solid #555;
    color: #b0b0b0;
  }
  blockquote footer {
    background-color: transparent;
    color: #888;
  }
}

blockquote p:last-of-type {
  margin-bottom: 0;
}
