pre,
code {
  font-family: $monospace-font-family;
  background-color: $pre-background-color;
  border-radius: $pre-border-radius;
}

code {
  color: $pre-font-color;
  padding: 0.125em 0.25em;
  font-size: 0.9em;
}

pre {
  padding: 1.25em;
  line-height: 1.5;
  overflow-x: auto;
  margin-bottom: 1em;
}

pre code {
  padding: 0;
  font-size: inherit;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    color: $dark-mode-pre-font-color;
    background-color: $dark-mode-pre-background-color;
  }
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

pre {
    counter-reset: line-numbering;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a {
    text-decoration: none;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  width: 25px;
  text-align: right;
  opacity: 0.5;
  display: inline-block;
  color: $mid-gray;
  margin-right: 16px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}
