.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: $base-font-color;
  font-size: $h4;
  font-weight: 400;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .site-header a {
    color: $dark-mode-font-color;
  }
}

.site-header .site-title {
  font-size: $h3;
  font-weight: 600;
}

.site-nav .site-index {
  margin-top: $space-2;
}

.site-header nav a {
  color: $nav-link-color;
}

@media (prefers-color-scheme: dark) {
  .site-header nav a {
    color: $dark-mode-nav-link-color;
  }
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $base-font-color;
  opacity: 1;
  border-bottom: 2px solid $base-font-color;
}

@media (prefers-color-scheme: dark) {
  .site-header nav a:hover,
  .site-header nav a:focus,
  .site-header nav a:active {
    color: $dark-mode-font-color;
    opacity: 1;
    border-bottom: 2px solid $dark-mode-font-color;
  }
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  color: lighten($base-font-color, 10%);
}

@media (prefers-color-scheme: dark) {
  .site-header a:hover,
  .posts .post a:hover .post-meta,
  .posts .post a:hover .post-title,
  .posts .post a:hover .post-summary {
    color: lighten($dark-mode-font-color, 20%);
  }
}

.site-header {
  text-align: right;
}

.site-header .site-nav {
  text-align: right;
}

.site-index {
  float: left !important;
}

.site-index a:hover,
.site-index a:focus,
.site-index a:active {
  opacity: 1;
  border-bottom: 2px solid $base-font-color;
}

@media (prefers-color-scheme: dark) {
  .site-index a:hover,
  .site-index a:focus,
  .site-index a:active {
    opacity: 1;
    border-bottom: 2px solid $dark-mode-font-color;
  }
}
