.pagination {
  font-size: 1rem;
  font-family: $heading-font-family;
  text-align: center;
}

.pagination a, .pagination .disabled {
  transition: all 0.2s ease-in-out;
  background: $pagination-background-color;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  color: $pagination-link-color;
  padding: 0.75em 1.25em;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .pagination a, .pagination .disabled {
    background: $dark-mode-pagination-background-color;
    border-color: #444;
    color: $dark-mode-pagination-link-color;
  }
}

.disabled {
  opacity: 0.5;
}

.noHover {
  pointer-events: none;
}

.pagination .pagination-meta {
  overflow: hidden;
}

.pagination a:hover, .pagination a:focus {
  background: $pagination-hover-background-color;
  color: $pagination-link-hover-color;
  border-color: $light-gray;
}

@media (prefers-color-scheme: dark) {
  .pagination a:hover, .pagination a:focus {
    background: $dark-mode-pagination-hover-background-color;
    color: $dark-mode-pagination-link-hover-color;
    border-color: #555;
  }
}

.pagination a:active {
  background: $lighter-gray;
}

@media (prefers-color-scheme: dark) {
  .pagination a:active {
    background: #333;
  }
}

.pagination .button {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}
