
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid $post-index-separator-color;
}

@media (prefers-color-scheme: dark) {
  .posts .post {
    margin-bottom: 0.75em;
    border-bottom: thin solid $dark-mode-post-index-separator-color;
  }
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: $post-link-color;
}

@media (prefers-color-scheme: dark) {
  .post-link .post-title {
    margin-top: 0;
    font-weight: 600;
    color: $dark-mode-post-link-color;
  }
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  /*color: #7a7a7a; // or $post-meta-color */ 
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}