html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $base-font-color;
  line-height: 1.7;
}

@media (prefers-color-scheme: dark) {
  p {
    color: $dark-mode-font-color;
  }
}

small,
.small {
  font-size: 0.8125rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
